*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    background-color: #050902;
    color: #f4f4f4;
    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: blue;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid orangered;
    background: orangered;
    transition: 1s;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #a200ff;
}